.subtitle {
    color: #000;
    background-color: #F8C451;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    margin: 10px 0;
}
  