@import "~antd/dist/antd.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  // font-family: "Montserrat" !important;
}


.App{
  padding:0 110px;
  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

.App-header {
  background-color:#285473;
}

.navhead {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    padding-right: 10px;
    cursor: pointer;
  }
  &__btn {
    button {
      background-color:  #F8C451;
      color: black;
      box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      padding: 5px;
      cursor: pointer;
    }

  }
}

.none {
  display: none;
}
.bold {
  font-weight: bold;
  font-size: 22px;
  line-height: 140.9%;
  text-align: center;
  margin: 20px 0 0 0;
}
.text {
  text-align: center;
  margin: 10px 0;
}

.sum {
  font-weight: 700;
font-size: 50px;
line-height: 135.9%;
/* or 68px */

text-align: center;
text-transform: lowercase;

color: #285473;

text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.ant-anchor{
  display: flex !important;
  & div {
    padding: 0 10px;
  }
}

.possibilities {
  color: #285473;
  font-weight: 700;
  font-size: 16px;
  line-height: 138.5%;
  text-transform: uppercase;
}

.grey {
  background: #DFDEDE;
  border-radius: 5px; 
}

footer, header{
  background-color: #285473;
  padding: 0 110px;
  color: white;
  @media (max-width: 768px) {
    padding: 0 10px;
  }
}